@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply p-3 rounded-xl bg-gray-700 font-bold hover:bg-gray-600 transition active:scale-95;
  }

  .input {
    @apply w-full p-3 rounded-xl bg-gray-800 text-white outline-none;
  }
}
